<footer>
    <div class="tipo__footer">
      <!--------------------------------------------------------------------------------------->
      <div class="box__footer">
          <div class="logo ">
              <img src="../../assets/img/logo.png" width="160" height="160">
          </div>
          <div class="terms">
              <p>
            <b>MG Alarmas </b>es una de las tiendas de electrónica más importantes. En su tienda podrás encontrar cualquiera de las más de 30,000 referencias que actualmente disponemos.
            Además en su tienda de Internet, podrás comprar con toda seguridad, rapidez y garantía.
            Los envíos son recibidos por los clientes en un plazo de 24/48 horas desde que cursan el pedido y lo confirman.
                 </p>
          </div>
      </div>
      <!--------------------------------------------------------------------------------------->
      <div class="box__footer">
          <h2>Soluciones</h2>
          <a href="">Ventas</a>
          <a href="">Trabajos</a>
          <a href="">Procesos</a>
          <a href="terminosycondiciones.html" target="_parent">Importante</a>
      </div>
      <!--------------------------------------------------------------------------------------->
      <div class="box__footer">
          <h2>Gestion</h2>
          <a href="#"><i class="fab fa-facebook"></i>Facebook</a>
          <a href="#"><i class="fab fa-twitter"></i>Twitter</a>
          <a href="#"><i class="fab fa-linkedin"></i>Linkedin</a>
          <a href="#"><i class="fab fa-instagram"></i>Instagram</a>
      </div>
      <!--------------------------------------------------------------------------------------->
  </div>
  <div class="box__copyright">
      <hr>
      <br>
      <p>Copyright © 2021 - derechos</p>
      <b>Gestion (ISPCA3G5)</b>
  </div>
  </footer>
  