<br><br><br>
<h3>Detalle del Libro</h3>

<div class="container">
  <div>
    <label for=""><b>ID: </b>{{Libro.id}}</label>
  </div>
  <div>
    <label for=""><b>TITULO: </b>{{Libro.title}}</label>
  </div>
  <div>
    <label for=""><b>DATOS: </b>{{Libro.date}}</label>
  </div>
  <div>
    <label for=""><b>AUTOR: </b>{{Libro.author}}</label>
  </div>
  <div>
    <label for=""><b>CATEGORÍA: </b>{{Libro.category}}</label>
  </div>
  <div>
    <label for=""><b>EDITORIAL: </b>{{Libro.edit}}</label>
  </div>
  <div>
    <label for=""><b>IDIOMA: </b>{{Libro.lang}}</label>
  </div>
  <div>
    <label for=""><b>PAGINAS: </b>{{Libro.pages}}</label>
  </div>
  <div>
    <label for=""><b>DESCRIPCIÓN: </b>{{Libro.description}}</label>
  </div>
  <div>
    <label for=""><b>EJEMPLARES: </b>{{Libro.ejemplares}}</label>
  </div>
  <div>
    <label for=""><b>STOCK: </b>{{Libro.stock}}</label>
  </div>
  <div>
    <label for=""><b>DISPONIBLES: </b>{{Libro.available}}</label>
  </div>
</div>
<br>
