
<br><br><br>
<div class="container">
<h3 class="text-center">Registrar Pedido</h3>
<br><br><br>
<form (ngSubmit)="onSubmit3()" class="row g-3">



  <div class="col-md-4">
    <label for="libro" class="form-label">Nombre del Titulo</label>
    <select [(ngModel)]="prestamo.libro" class="form-control" name="libro">
      <option [ngValue]="undefined">--Selecciona un Libro--</option>
      <option *ngFor="let libro of libros" [ngValue]="libro">{{libro.title}}</option>
    </select>
  </div>

  <div class="col-md-4">
    <label for="usuario" class="form-label">Nombre del Usuario</label>
    <select [(ngModel)]="prestamo.usuario" class="form-control" name="usuario">
      <option [ngValue]="undefined">--Selecciona un Libro--</option>
      <option *ngFor="let usuario of usuarios" [ngValue]="usuario">{{usuario.name}} {{usuario.last_name_p}}</option>
    </select>
  </div>

<div class="col-md-2">
  <label class="form-label">fechaSalida</label>
  <input type="date" class="form-control" id="fechaSalida" [(ngModel)]="prestamo.fechaSalida" name="fechaSalida" required>
</div>

<div class="col-md-2">
  <label class="form-label">fechaEntrega</label>
  <input type="date" class="form-control" id="fechaEntrega" [(ngModel)]="prestamo.fechaEntrega" name="fechaEntrega" required>
</div>

<br>

<div class="col-12">
  <button class="btn btn-primary" type="submit">Guardar Regristro</button>
</div>
</form>
</div>
<br><br><br>
