<br><br><br>
<h2>Listado de Uusarios</h2>
<hr>
<br><br>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido Paterno</th>
      <th scope="col">Apellido Materno</th>
      <th scope="col">Domicilio</th>
      <th scope="col">Telefono</th>
      <th scope="col">Sanctions</th>
      <th scope="col">SancMoney</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuario">
      <td>{{usuario.id}}</td>
      <td>{{usuario.name}}</td>
      <td>{{usuario.last_name_p}}</td>
      <td>{{usuario.last_name_m}}</td>
      <td>{{usuario.domicilio}}</td>
      <td>{{usuario.tel}}</td>
      <td>{{usuario.sanctions}}</td>
      <td>{{usuario.sancMoney}}</td>
    </tr>

  </tbody>
</table>
