.table {
  /*background-color: aqua;*/
  /*background-image: url ("/Biblioteca/ITPLibrary-main/src/itp_library/images/fondo.jpg");imagen de fondo*/

margin-bottom: 350px;
}
tr{
  background: rgba(0, 128, 255, 0.8);
  color: white;/*color del texto*/
}
