<body>


  <!--------------------------------------------------------------------------------------->
  <div class="contenedor_pantalla"><!--contenedor de toda la pagina-->
    <!--------------------------------------------------------------------------------------->
    <div class="wrap2">
        <h1>{{'Novedades' | translate }}</h1> <!--titulo-->
        <div class="store"><!--contenedor de la tabla-->
            <section class="listado-franquicias"><!--contenedor de la lista-->
                    <h2>{{'Franquicias' | translate }}</h2><br>
                    <hr>
                    <br>
                    <a href="https://www.microchip.com/" target="blanck">
                        <img alt="" src="../assets/img/Franquicia_1.png" width="120" height="75" /></a><br>

                    <a href="https://www.st.com/content/st_com/en.html" target="blanck">
                        <img alt="" src="../assets/img/Franquicia_2.png" width="120" height="75" /></a><br>

                    <a href="https://www.quectel.com/" target="blanck">
                        <img alt="" src="../assets/img/Franquicia_3.png" width="120" height="75" /></a><br>

                    <a href="https://www.simcom.com/" target="blanck">
                        <img alt="" src="../assets/img/Franquicia_4.png" width="120" height="75" /></a><br>

                    <a href="https://www.honeywell.com/us/en" target="blanck">
                        <img alt="" src="../assets/img/Franquicia_5.png" width="120" height="75" /></a><br>

                    <a href="https://www.winstar.com.tw/es/" target="blanck">
                        <img alt="" src="../assets/img/Franquicia_6.png" width="120" height="75" /></a><br>

                    <a href="https://www.kerlink.com/" target="blanck">
                        <img alt="" src="../assets/img/Franquicia_7.png" width="120" height="75" /></a><br>

                    <a href="https://www.te.com/usa-en/home.html" target="blanck">
                        <img alt="" src="../assets/img/Franquicia_8.png" width="120" height="75" /></a><br>
            </section>
            <div class="listado-novedades">
                <!--------------------------------------------------------------------------------------->
                <img src="../assets/img/Banner 0.png" alt=""><br>
                <img src="../assets/img/Banner 1.png" alt=""><br>
                <img src="../assets/img/Banner 3.png" alt=""><br>
                <img src="../assets/img/ 2.png" alt=""><br>
                <img src="../assets/img/4.png" alt=""><br>
                <br>
                <div class="titulo">
                    <br>
                    <h2>{{'Noticias' | translate }}</h2>
                    <br>
                    <br>
                </div>
                <div class="nota_1" style="float: left;">
                    <h2><a href="./pdf/Memorias Flash MICROCHIP-SST.pdf" target="blanck" style="color:white;">
                      {{'Memorias' | translate }}®</a></h2>
                    <p>
                      {{'MICROCHIP' | translate }}
                      {{'confiabilidad' | translate }}®…</p>
                </div>

                <div class="nota_2" style="float: left;">
                    <h2><a href="./pdf/Generando “Ring Tones” con un PIC16F87x....pdf" target="blanck" style="color:white;">
                      {{'Generando' | translate }} PIC 16F87X....</a></h2>
                    <p>
                      {{'terms7' | translate }}
                      {{'terms8' | translate }}
                      {{'terms9' | translate }}
                      {{'terms10' | translate }}
                      {{'terms11' | translate }}!!! ....
                    </p>
                </div>

                <div class="nota_3" style="float: left;">
                    <h2><a href="./pdf/Microchip integra y simplifica gráficos en los MCUs PIC24F....pdf" target="blanck"
                            style="color:white;">
                            {{'terms12' | translate }} MCUs PIC 24F..</a></h2>

                    <p>
                      {{'terms13' | translate }}
                      {{'terms14' | translate }}
                      {{'terms15' | translate }}
                    </p>
                </div>
            </div>
         </div>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------->
  </body>

