<footer>
  <div class="tipo__footer">
    <!--------------------------------------------------------------------------------------->
    <div class="box__footer">
        <div class="logo">
            <img src="  ../assets/img/logo.png" alt="aca va al logo">
        </div>
        <div class="terms">
            <p>Todo nuestro personal está altamente calificado y trabaja en un excelente entorno.
                Nosotros pensamos que éste es uno de los más importantes factores para ofrecer un buen servicio a nuestros clientes.
                Algunos de nuestros vendedores están localizados en otras ciudades de nuestro país y uno de ellos se encuentra en Brasil
                como representante de la compañía en ese mercado.
              La compañía cuenta también con consultores externos,
               personas idóneas especializadas en el planeamiento de nuestros cursos y seminarios que son dictados en instituciones
               educacionales y compañías renombradas.</p>
        </div>
    </div>
    <!--------------------------------------------------------------------------------------->
    <div class="box__footer">
        <h2>Soluciones</h2>
        <a href="">Ventas</a>
        <a href="">Trabajos</a>
        <a href="">Procesos</a>
        <a href="terminosycondiciones.html" target="_parent">Informacion Importante</a>
    </div>
    <!--------------------------------------------------------------------------------------->
    <div class="box__footer">
        <h2>Redes Sociales</h2>
        <a href="#"><i class="fab fa-facebook"></i>Facebook</a>
        <a href="#"><i class="fab fa-twitter"></i>Twitter</a>
        <a href="#"><i class="fab fa-linkedin"></i>Linkedin</a>
        <a href="#"><i class="fab fa-instagram"></i>Instagram</a>
    </div>
    <!--------------------------------------------------------------------------------------->
</div>
<div class="box__copyright">
    <hr>
    <br>
    <p>Copyright © 2021 - Todos los derechos reservados</p>
    <b>Gestion deposito Cordoba (ISPCA3G5)</b>
</div>
</footer>
