<br><br><br>
<h3>Detalle del Usuario</h3>

<div class="container">
  <div>
    <label for=""><b>ID: </b>{{Prestamo.id}}</label>
  </div><br>
  <div>
    <label for=""><b>NOMBRE USUARIO: </b>{{Prestamo.usuario}}</label>
  </div><br>
  <div>
    <label for=""><b>NOMBRE lIBRO: </b>{{Prestamo.libro}}</label>
  </div><br>
  <div>
    <label for=""><b>FECHA DEL PEDIDO: </b>{{Prestamo.fechaSalida}}</label>
  </div><br>
  <div>
    <label for=""><b>FECHA DE ENTREGA: </b>{{Prestamo.fechaEntrega}}</label>
  </div><br>
  <div>
    <label for=""><b>ESTADO: </b>{{Prestamo.estado}}</label>
  </div><br>

</div>
<br>
