
<nav class="nav">
  <img class="logo__img" src="  ../assets/img/logo.png" ALT="Logo Gestion deposito">
  <h1 class="web">MG Alarmas (ISPCA2G5)</h1>
  <h1 class="mov">MG Alarmas mobile</h1>

  <button class="nav-toggle" id="nav-toggle" onclick="mi_Menu()">
      <i class="fas fa-bars" aria-hidden="true"></i>
  </button>



  <ul class="nav-menu">
      <li class="nav-menu-item"><a  routerLink="./index.html" class="nav-menu-link nav-link">Inicio</a></li>
      <li class="nav-menu-item"><a  routerLink="./producto.html" class="nav-menu-link nav-link">Productos</a></li>
      <li class="nav-menu-item"><a  routerLink="./abm_productos.html" class="nav-menu-link nav-link">ABM</a></li>
      <li class="nav-menu-item"><a  routerLink="./login.html" class="nav-menu-link nav-link">Login</a></li>
      <li class="nav-menu-item"><a  routerLink="./contacto.html" class="nav-menu-link nav-link">Contacto</a></li>
      <span class="form-inline">
        <select
            class="form-control"
            #selectedLang
            (change)="switchLang(selectedLang.value)">
          <option *ngFor="let language of translate.getLangs()"
            [value]="language"
            [selected]="language === translate.currentLang">
            {{ language }}
          </option>
        </select>
      </span>
    </ul>
</nav>
