<div class="contenedor">
  <!--<img src="/Biblioteca/ITPLibrary-main/src/itp_library/images/336799ebb339821f342bc5a13386aff2.jpg" align="left" width="100px" height="100px">-->

  <div class="contenedor_bienv">
      <h1>Bienvenido a Gestion de Biblioteca</h1>

  </div>
    <div class="detalle">
      <li>Prestamos</li>
      <li>Devoluciones</li>
      <li>Registro de Usuarios y Libros Nuevos</li>
      <li>Edicion de Usuarios y Libros existentes</li>
      <li>Eliminar todo tipo de registros</li>
      <li>Seccion de Reportes de acciones en el sistema</li>
      </div>
</div>

