/*------------------------------------------------------*/
/* footer estilos*/
/*------------------------------------------------------*/
footer {
  width: 100%;/*ancho del footer*/
  background: rgba(0, 128, 255, 0.5);
  height: auto;/*alto del footer*/
  color: white;/*color del texto*/
  margin-left: 0px;/*espacio entre el footer y el contenido*/
  position: relative;/*para que se vea centrado*/
  cursor: pointer;/*para que se manito en el puntero del mouse*/
  margin-top: 50px;/*600px;/*espacio entre el footer y el contenido*/
  margin-bottom: 0px;/*espacio entre el footer y el contenido*/
  z-index: -1;/*para que se vea por abajo de todo*/
  text-align: left;/*alineacion del texto*/
  padding: 1em;/*espacio entre el footer y el contenido*/
  align-self: flex-end;


}
/*------------------------------------------------------*/
/* footer estilos*/
/*------------------------------------------------------*/
.tipo__footer {
  display: flex;/*para que se vea en forma de flex*/
  flex-wrap: wrap;
  justify-content: space-around;
 /*max-width: 100%;
  margin-top: 300px;*/
}
.box__footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.box__footer .logo img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}
.box__footer .terms {
  max-width: 450px;/*ancho maximo del div terminos*/
  margin-top: 20px;/*espacio entre el div terminos y el contenido*/
  font-weight: 500;/*para que se vea mas grande*/
  color: aqua;/*color del texto*/
  font-size: 16px;/*tamaño del texto*/
  text-align:justify;/*alineacion del texto*/
text-justify:inter-word;/*alineacion del texto*/
}
.box__footer h2 {
  margin-bottom: 30px;
  color: grey;
  font-weight: 700;
}
.box__footer a {
  margin-top: 10px;
  color: white;
  font-weight: 600;
}
.box__footer a:hover {
  color: #46a2fd;
}
.box__footer a .fab {
  font-size: 40px;
  margin-right: 20px;
}
.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 20px 20px;
}
.box__copyright hr {
  border: none;
  height: 1px;
  background: grey;
}
