<footer>
  <div class="tipo__footer">
    <!--------------------------------------------------------------------------------------->
    <div class="box__footer">
        <div class="logo">
            <img src="  ../assets/img/logo.png" alt="aca va al logo">
        </div>
        <div class="terms">
            <p>
              {{'terms' | translate }}
              {{'terms1' | translate }}
              {{'terms2' | translate }}
              {{'terms3' | translate }}
              {{'terms4' | translate }}
              {{'terms5' | translate }}
              {{'terms6' | translate }}
               </p>
        </div>
    </div>
    <!--------------------------------------------------------------------------------------->
    <div class="box__footer">
        <h2>{{'Soluciones' | translate }}</h2>
        <a href="">{{'Ventas' | translate }}</a>
        <a href="">{{'Trabajos' | translate }}</a>
        <a href="">{{'Procesos' | translate }}</a>
        <a href="terminosycondiciones.html" target="_parent">{{'Importante' | translate }}</a>
    </div>
    <!--------------------------------------------------------------------------------------->
    <div class="box__footer">
        <h2>{{'Gestion' | translate }}</h2>
        <a href="#"><i class="fab fa-facebook"></i>Facebook</a>
        <a href="#"><i class="fab fa-twitter"></i>Twitter</a>
        <a href="#"><i class="fab fa-linkedin"></i>Linkedin</a>
        <a href="#"><i class="fab fa-instagram"></i>Instagram</a>
    </div>
    <!--------------------------------------------------------------------------------------->
</div>
<div class="box__copyright">
    <hr>
    <br>
    <p>Copyright © 2021 - {{'derechos' | translate }}</p>
    <b>{{'Gestion' | translate }} (ISPCA3G5)</b>
</div>
</footer>
