<br><br><br>
<div class="form">
  <!--<h4>Registrar nuevo Usuario</h4>-->
  <form class="login-form">
  <input type="text" name="Nombre" id="nombre" placeholder="Ingrese el Nombre">
  <input type="text" name="Apellido Paterno" id="apellido paterno" placeholder="Ingrese el Apellido paterno">
  <input type="text" name="Apellido Materno" id="apellido materno" placeholder="Ingrese el Apellido materno">
  <input type="text" name="Domicilio" id="domicilio" placeholder="Ingrese el Domicilio">
  <input type="number" name="Telefono" id="telefono" placeholder="Ingrese un numero telefonico">
  <button>Ingresar</button>
  <button>Registrar</button>
  <button>Modificar</button>
</form>

</div>
