/*------------------------------------------------------*/
/*Formularios contacto*/
/*------------------------------------------------------*/
textarea{
    margin-bottom: 20px;
    width: 100%;/*ancho del textarea*/
    padding: 8px;/*margenes del textarea*/
    box-sizing: border-box;
    border: 1px solid blue;/*borde del textarea solido y de color azul*/
    outline: none;/*para que no se vea el recuadro en el textarea*/
    background-color: rgba(255, 255, 255, 0.8);/*color de fondo del textarea*/
    background: gainsboro;
    font-size: 15px;/*tamaño del texto del textarea*/
}
textarea{/*para que se vea el textarea*/
    resize: vertical;/*para que se vea vertical el textarea*/
    max-height: 200px;/*Maxima altura del textarea*/
    min-height: 100px;/*Minima altura del textarea*/
    border-radius: 5px;/*para que se vea redondeado el textarea*/
}
.textarea_1{
    border: 3px solid transparent;/*borde del textarea transparente*/
}
.contenedor__contacto {
    display: flex; /*deja uno al lado del otro en forma horizontal*/
    align-items: center;/*centra el contenido*/
    width: 100%;/*ancho del contenedor*/
    /*max-width: 800px;/*ancho maximo */
    top: 0px;
    left: 1px;
    right: 1px;/*posicion del contenedor con respecto a la parte derecha*/
    background-color: transparent;/*color de fondo*/
    height: 700px;/*altura del contenedor*/
}
.contenedor__contacto form {
    width: 75%;/*ancho del contenedor*/
    padding: 20px 10px;/*Margenes de altura y laterales del formulario interiores*/
    /*background: rgba(240, 172, 172, 0.3); /*cambiar a blanco*/
    background-color: rgba(0, 128, 255, 0.5);
    top: 65%;/*centra el contenido*/
    left: 50%;/*centra el contenido*/
    position: absolute;
    transform: translate(-50%, -50%);/*centra el contenido*/
    box-sizing: border-box;/*para que no se vea el borde*/
    border-radius: 20px;/*borde redondeado*/
}
.form__contacto {
    display: grid;/*para que se vea el formulario en formna de grilla*/
    grid-template-columns: 1fr 1fr;/*para que se vea el formulario tenga 2 columnas*/
    grid-gap: 20px;/*espacio entre columnas*/
}
.form_contacto__aviso {
    font-size: 16px;
    color: white;
    padding: 1px 1px;
    margin-bottom: 1px;
    grid-column: span 2;
    text-align: center;
}

.form__grupo{
    padding: 10px;
}



