/*------------------------------------------------------*/
/*Formularios Registro*/
/*------------------------------------------------------*/
.contenedor__registro {
    display: flex;/*deja uno al lado del otro en forma horizontal*/
    align-items: center;/*centra el contenido*/
    width: 100%;/*ancho del contenedor*/
    top: 90px;/*posicion del contenedor con respecto a la parte superior*/
    left: 1px;/*posicion del contenedor con respecto a la parte izquierda*/
    right: 1px;/*posicion del contenedor con respecto a la parte derecha*/
    background-color: transparent;/*color de fondo*/
    min-height: 800px;/*altura del contenedor*/
}

.contenedor__registro form {
    width: 80%; /*ancho del contenedor*/
    padding: 10px 10px;/*Margenes de altura y laterales del formulario interiores*/
    /*background: rgba(240, 172, 172, 0.3); /*cambiar a blanco*/
    background-color: rgba(0, 128, 255, 0.5);
    top: 70%;/*centra el contenido*/
    left: 51%;/*centra el contenido*/
    position: absolute;
    transform: translate(-50%, -50%);/*centra el contenido*/
    box-sizing: border-box;/*para que no se vea el borde*/
    border-radius: 20px; /*borde redondeado*/
}
/*------------------------------------------------------*/
/*este contenedor es para el formulario de registro*/
/*no funciona todavia es para poner el borde en rojo*/
/*y aplicar abajo del intput algun requerimiento*/
.contenedor__registro .error_2 {
    width: 300px;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin: 10px;
    color: red;
    padding-top: 2px;
    padding: 1px;
}
/*------------------------------------------------------*/
.formulario__registro {
    display: grid;/*para que se vea el formulario en grilla*/
    grid-template-columns: 1fr 1fr;/*dos columnas del formulario*/
    grid-gap: 10px;/*separacion entre columnas*/
}
.form__label {
    display: block;/*para que se vea el label*/
    font-weight: 600;/*para que el texto sea del tipo bold*/
    padding: 10px;/*para que el texto tenga margen del borde*/
    cursor: pointer;/*para que el cursor sea una mano*/
    font-size: 15px;/*para que el texto sea mas liviano*/
    color: white;/*para que el texto sea mas liviano*/
}
.form__grupo__input {
    position: relative;/*posiciona el campo delinput*/
}
.form__input {
    width: 100%;    /*ancho del input es completo de la columna*/
    background: gainsboro;
    border: 3px solid transparent;/*borde del input es de 3px pero ahora solo tranaparente */
    border-radius: 5px;/*borde redondeado*/
    height: 45px;/*altura del input*/
    line-height: 15px;/*Texto de altura de 45px*/
    padding: 0 40px 0 10px;/*margenes del input*/
    transition: .3s ease all;/*transicion de tamaño*/
    font-size: 15px;/*tamaño del texto*/
}
.form_validacion_status {/*para que se vea el icono de validacion*/
    position: absolute;/*posiciona el icono de validacion*/
    right: 10px;/*margen derecho del icono de validacion*/
    bottom: 15px;/*margen inferior del icono de validacion*/
    z-index: 10;/*posicion del icono de validacion*/
    font-size: 16px;/*tamaño del icono de validacion*/
    opacity: 0;/*opacidad del icono de validacion*/
}
.form__input:focus,
 .textarea_1:focus{
    border: 3px solid #46a2fd;    /*borde del input es de 3px ahora es azul*/
    outline: none;    /*para que el outline del navegador no se vea*/
    box-shadow: 0 0 5px rgba(163, 163, 163, 0.4); /*sombra del input*/
}
.form__input-error {
    font-size: 16px;/*tamaño del texto del mesaje de error */
     margin-bottom: 0px;/*margen inferior del texto del error*/
    display: none;
    color: red;
}
.form__input-error-activo {
    display: block; /*para que se vea el mensaje de error*/
}
.form__grupo-btn-enviar {
    display: flex;/*para que se vea el boton de enviar*/
    flex-direction: column;/*para que el boton de centre en la columna*/
    justify-content: center;/*para que el boton de centre en la columna*/
    align-items: center;/*para que el boton de centre en la columna*/
}
.form__btn-enviar {
    height: 45px;/*altura del boton de enviar*/
    line-height: 45px;/*altura del texto del boton de enviar*/
    width: 75%;/*ancho del boton de enviar*/
    background: #46a2fd;/*color de fondo del boton de enviar*/
    color: white;/*color del texto del boton de enviar*/
    font-size: 20px;/*tamaño del texto del boton de enviar*/
}
/*



