<header>
<ul class="nav justify-content-end">

  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/inicio" routerLinkActive="active-link">Principal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/prestamo" routerLinkActive="active-link">Prestamo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/devolucion" routerLinkActive="active-link">Devolucines</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/usuarios" routerLinkActive="active-link">Ingreso Usuario</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/listaUsuarios" routerLinkActive="active-link">Listado Usuario</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/listaLibros" routerLinkActive="active-link">Listado Libros</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/libros" routerLinkActive="active-link">Ingreso Libros</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/nuevoPrestamo" routerLinkActive="active-link">Reportes</a>
  </li>

</ul>
</header>
