<body>


  <!--------------------------------------------------------------------------------------->
  <div class="contenedor_pantalla"><!--contenedor de toda la pagina-->
    <!--------------------------------------------------------------------------------------->
    <div class="wrap2">
      <br><br><br>

        <div class="store"><!--contenedor de la tabla-->

          <section class="listado-franquicias"><!--contenedor de la lista-->
            <h1>{{'Carrito' | translate }}</h1> <!--titulo-->

            <div *ngFor="let item of items">


              </div>
          </section>
          </div>
        </div>
  </div>
  <!--------------------------------------------------------------------------------------->
  </body>
