<div class="container mt-5">
    <div class="car p-3">
        <div class="row">
            <div class="col-6">

                <form #orderForm="ngForm" (ngSubmit)="placeOrder(orderForm)">
                    <div class="col-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Nombre del contacto</mat-label>
                            <input matInput placeholder="Nombre Completro" 
                            [(ngModel)]="orderDetails.fullName" 
                            name="fullName">
                        </mat-form-field>
                    </div>

                    <div class="col-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Dirección del contacto</mat-label>
                            <input matInput placeholder="Insertar la Dirección" 
                            [(ngModel)]="orderDetails.fullAddress" 
                            name="fullAddress">
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Numero de Contacto</mat-label>
                            <input matInput placeholder="Nombre de Contacto" 
                            [(ngModel)]="orderDetails.contactNumber" 
                            name="contactNumber">
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Numero Alternativo</mat-label>
                            <input matInput placeholder="Nombre alternativo" 
                            [(ngModel)]="orderDetails.alternateContactNumber" 
                            name="alternateContactNumber">
                        </mat-form-field>
                    </div>

                    <div Align="right">
                        <button mat-stroked-button color="primary" type="submit" 
                        style="margin-right: 3px;">Guardar Contacto</button>
                    </div>
         
                </form>


            </div>
            <div class="col-6">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda numquam optio minima quo corrupti corporis aliquid consectetur blanditiis, at dolores eaque repudiandae sit enim, perferendis atque quaerat recusandae, accusamus error!
            </div>
        </div>
    </div>
</div>