<br><br><br>
<h2>Listado de Reporte</h2>
<hr>
<br><br>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID LIBRO</th>
      <th scope="col">ID USUARIO</th>
      <th scope="col">FECH. SALIDA</th>
      <th scope="col">FECH. ENTREGADO</th>
      <th scope="col">ESTADO</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prestamo of prestamo">
      <td>{{prestamo.id}}</td>
      <td>{{prestamo.libro.title}}</td>
      <td>{{prestamo.usuario.name}}</td>
      <td>{{prestamo.fechaSalida}}</td>
      <td>{{prestamo.fechaEntrega}}</td>
      <td>{{prestamo.estado}}</td>
      <td>
      <button (click)="actualizarPrestamo(prestamo.id)" class="btn btn-info" style="margin-right:10px;">Editar2</button>
      <button (click)="eliminarPrestamo(prestamo.id)" class="btn btn-danger" style="margin-right:10px;">Eliminar</button>
      <button (click)="verDetallePrestamo(prestamo.id)" class="btn btn-primary" style="margin-right:10px;">Detalle</button>
    </td>
    </tr>
  </tbody>
</table>
