.wrap2 {
  font-family: 'Open Sans', sans-serif;/*tipo de letra de google*/
  max-width: 1250px;/*ancho maximo permitodo de la pagina*/
  height: auto;/*alto de la pagina*/
  width: 95%;/*ancho de la pagina*/
  margin: auto;/*centra la pagina*/
  background-color: rgba(255, 255, 255, 0.7);/*color de fondo y tranparencia*/
  margin-top: 140px;
  border-radius: 20px;
}

.wrap2 h1 {
  color: rgba(0, 128, 255, 0.6);/*color de letra para h1*/
  /*color: white;*/
  font-weight: 700;/*ancho de letra*/
  display: flex;/*para que se pueda centrar*/
  flex-direction: column;
  text-align: center;/*centra el texto*/
  padding: 20px 0;/*espacio entre el texto y el borde*/
  margin: 15px 10px;/*espacio entre el borde y el texto*/
}

.wrap2 h1:after {/*para el borde*/
  content: '';
  width: 92%;/*ancho del borde con respecto al contenedor*/
  height: 3px;/*alto de la linea*/
  background-color: white;
  margin: 20px 50px;
}
/*------------------------------------------------------------*/
/*estilos de los franquicias*/
/*------------------------------------------------------------*/
.store {
  display: flex;/*para que se puedan ver en columnas*/
}

.producto{
width: 200px;
height: 200px;
margin: 10px;
float: left;

}

.imgProducto{
width: 50px;
height: 50px;
float: left;

}

button{
  display: flex;
  background-color:#508fbd;
  border: none;
  color: white;
  border-radius: 2px;
  width: 80px;
  height: 30px;
}
button p{
  padding: 5px 15px;
}
.precio{
  color: red;
}
