<br><br><br>
<h3>Detalle del Usuario</h3>

<div class="container">
  <div>
    <label for=""><b>ID: </b>{{Usuario.id}}</label>
  </div><br>
  <div>
    <label for=""><b>NOMBRE: </b>{{Usuario.name}}</label>
  </div><br>
  <div>
    <label for=""><b>APELLIDO PATERNO: </b>{{Usuario.last_name_p}}</label>
  </div><br>
  <div>
    <label for=""><b>APELLIDO MATERNO: </b>{{Usuario.last_name_m}}</label>
  </div><br>
  <div>
    <label for=""><b>DOMICILIO: </b>{{Usuario.domicilio}}</label>
  </div><br>
  <div>
    <label for=""><b>TELEFONO: </b>{{Usuario.tel}}</label>
  </div><br>
  <div>
    <label for=""><b>EMAIL: </b>{{Usuario.email}}</label>
  </div><br>
  <div>
    <label for=""><b>FECHA DE NAC: </b>{{Usuario.fechaNac}}</label>
  </div><br>
  <div>
    <label for=""><b>SANCIONES: </b>{{Usuario.sanctions}}</label>
  </div><br>
  <div>
    <label for=""><b>SANCIONES MONETARIA: </b>{{Usuario.sancMoney}}</label>
  </div>
</div>
<br>
