.nav-enlace{
    display: inline-block;
    background: cornflowerblue;
    color: aliceblue;
    padding: 10px 30px;
    border-radius: 2px;
    text-decoration: none;
}
.nav-enlace:hover{
    background: cadetblue;
}
nav{
    background: gray;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}

@media (max-width:760px){
    nav{
        flex-direction: column;
        width: 100%;
    }
    .nav-enlace{
        margin: 10px 0;
    }
}
